@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h class="display-4">Welcome</h>  
    <p></p>
    <p></p>
</div>

<p>1) In order to call Facebook&apos;s endpoint you should first click on<strong>&nbsp;FACEBOOK AUTHENTIFICATION</strong> and you will be redirected to the Facebook log in page (if you are not already logged in in the Facebook app), and during this process, Facebook&apos;s access token will be fetched.</p>
<p>2) On <strong>LIKED PAGES</strong> click, a new page will open, and data from the Facebook endpoint https://graph.facebook.com/v16.0/me/likes?fields=id,name,about,description will be displayed (the last 10 liked pages).</p>
<p>3) On the LIKED PAGES page, you have the option to <strong>Edit&nbsp;</strong>specific record and by clicking <strong>UPDATE&nbsp;</strong>the JSON file will be saved in C:\UpdatedAssignmentData folder (a folder with that name will be created automatically during the first update)</p>
<p></p>
<p><em>Note: If you want to change the path on which documents will be saved, you can do that by modifying the FolderPath property inside class SD of Assignment.Utility project.</em></p>
